openapi: 3.0.3
info:
  title: THoH Simulation API
  version: 1.0.0
  description: API documentation for the THoH simulation backend
servers:
- url: https://thoh-api.projects.bbdgrad.com
  description: Production Server
- url: http://localhost:3000
  description: Local Development Server
paths:
  "/time":
    get:
      summary: Get the Unix epoch timestamp when the simulation started
      tags:
      - Simulations
      responses:
        '200':
          description: Unix epoch start time
          content:
            application/json:
              schema:
                type: object
                properties:
                  unixEpochStartTime:
                    type: number
                    example: 1710864000000
        '400':
          description: Simulation not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation is not running. Please start a simulation
                      first using POST /simulations
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation not found
  "/current-simulation-time":
    get:
      summary: Get the current in-simulation date and time
      tags:
      - Simulations
      responses:
        '200':
          description: Current simulation date and time
          content:
            application/json:
              schema:
                type: object
                properties:
                  simulationDate:
                    type: string
                    example: '2050-01-15'
                  simulationTime:
                    type: string
                    example: '13:45:30'
                  simulationDay:
                    type: number
                    example: 15
        '400':
          description: Simulation not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation is not running. Please start a simulation
                      first using POST /simulations
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation not found
  "/machines":
    get:
      summary: Get machines for sale (grouped by type)
      tags:
      - Market
      responses:
        '200':
          description: List of machines (grouped by type with averaged values)
          content:
            application/json:
              schema:
                type: object
                properties:
                  machines:
                    type: array
                    items:
                      type: object
                      properties:
                        machineName:
                          type: string
                          example: electronics_machine
                        inputs:
                          type: string
                          nullable: true
                          example: copper,plastic
                        quantity:
                          type: integer
                          example: 5
                        inputRatio:
                          type: object
                          additionalProperties:
                            type: number
                          example:
                            copper: 2
                            plastic: 1
                        productionRate:
                          type: number
                          example: 500
                        price:
                          type: number
                          example: 10000
        '400':
          description: Simulation not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation is not running. Please start a simulation
                      first using POST /simulations
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while retrieving machines
    post:
      summary: Create a new order for a machine
      tags:
      - Market Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - machineName
              - quantity
              properties:
                machineName:
                  type: string
                  example: electronics_machine
                quantity:
                  type: integer
                  example: 2
      responses:
        '200':
          description: Machine order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    example: 1
                  machineName:
                    type: string
                    example: electronics_machine
                  totalPrice:
                    type: number
                    example: 20000
                  unitWeight:
                    type: number
                    example: 100
                  totalWeight:
                    type: number
                    example: 200
                  quantity:
                    type: integer
                    example: 2
                  machineDetails:
                    type: object
                    properties:
                      requiredMaterials:
                        type: string
                        example: copper,plastic
                      inputRatio:
                        type: object
                        additionalProperties:
                          type: number
                        example:
                          copper: 2
                          plastic: 1
                      productionRate:
                        type: number
                        example: 500
                  bankAccount:
                    type: string
                    example: 123456789
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid request or simulation not running
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while creating machine order
  "/trucks":
    get:
      summary: Get trucks for sale (grouped by type)
      tags:
      - Market
      responses:
        '200':
          description: List of trucks (grouped by type with averaged values)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    truckName:
                      type: string
                      example: large_truck
                    description:
                      type: string
                      nullable: true
                      example: Heavy duty truck for large loads
                    price:
                      type: number
                      example: 25000
                    quantity:
                      type: integer
                      example: 3
                    operatingCost:
                      type: number
                      example: 500
                    maximumLoad:
                      type: number
                      example: 10000
        '400':
          description: Simulation not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation is not running. Please start a simulation
                      first using POST /simulations
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while retrieving trucks
    post:
      summary: Create a new order for a truck
      tags:
      - Market Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - truckName
              - quantity
              properties:
                truckName:
                  type: string
                  example: large_truck
                quantity:
                  type: integer
                  example: 2
      responses:
        '200':
          description: Truck order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    example: 1
                  truckName:
                    type: string
                    example: large_truck
                  totalPrice:
                    type: number
                    example: 50000
                  unitWeight:
                    type: number
                    example: 2000
                  totalWeight:
                    type: number
                    example: 4000
                  quantity:
                    type: integer
                    example: 2
                  maximumLoad:
                    type: number
                    example: 10000
                  operatingCostPerDay:
                    type: string
                    example: '500'
                  bankAccount:
                    type: string
                    example: 123456789
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid request or simulation not running
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while creating truck order
  "/raw-materials":
    get:
      summary: Get raw materials (grouped by type)
      tags:
      - Market
      responses:
        '200':
          description: List of raw materials (grouped by type with aggregated values)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    rawMaterialName:
                      type: string
                      example: copper
                    description:
                      type: string
                      nullable: true
                      example: High quality copper
                    pricePerKg:
                      type: number
                      example: 12.5
                    quantityAvailable:
                      type: integer
                      example: 1000
        '400':
          description: Simulation not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation is not running. Please start a simulation
                      first using POST /simulations
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while retrieving raw materials
    post:
      summary: Create a new order for raw material
      tags:
      - Market Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - materialName
              - weightQuantity
              properties:
                materialName:
                  type: string
                  example: copper
                weightQuantity:
                  type: number
                  example: 100
      responses:
        '200':
          description: Raw material order created (pending - inventory will be reduced
            when paid)
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    example: 1
                  materialName:
                    type: string
                    example: copper
                  weightQuantity:
                    type: number
                    example: 100
                  price:
                    type: number
                    example: 1250
                  bankAccount:
                    type: string
                    example: 123456789
        '400':
          description: Error, insufficient inventory, or simulation not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid request, insufficient inventory, or simulation
                      not running
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while creating raw material order
  "/orders":
    get:
      summary: Get all orders
      tags:
      - Market Orders
      responses:
        '200':
          description: List of all orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    orderId:
                      type: integer
                      example: 1
                    itemName:
                      type: string
                      example: copper
                    itemId:
                      type: integer
                      nullable: true
                      example: 101
                    quantity:
                      type: number
                      example: 10
                    unitPrice:
                      type: number
                      example: 12.5
                    totalPrice:
                      type: number
                      example: 125
                    currency:
                      type: string
                      example: USD
                    orderDate:
                      type: string
                      format: date-time
                      example: '2024-05-01T12:00:00Z'
                    status:
                      type: string
                      example: pending
                    item_type_id:
                      type: integer
                      nullable: true
                      example: 2
                    marketId:
                      type: integer
                      nullable: true
                      example: 5
        '400':
          description: Simulation not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation is not running. Please start a simulation
                      first using POST /simulations
        '500':
          description: Error retrieving orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while retrieving orders
  "/orders/payments":
    post:
      summary: Pay for and fulfill an order
      tags:
      - Market Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - description
              properties:
                description:
                  type: string
                  example: 1
                companyName:
                  type: string
                  example: Acme Corp
      responses:
        '200':
          description: Order paid and fulfilled successfully
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    orderId:
                      type: integer
                      example: 1
                    itemName:
                      type: string
                      example: copper
                    quantity:
                      type: number
                      example: 10
                    totalPrice:
                      type: number
                      example: 125
                    status:
                      type: string
                      example: completed
                    message:
                      type: string
                      example: Order fulfilled successfully
                    canFulfill:
                      type: boolean
                      example: true
                    availableQuantity:
                      type: number
                      nullable: true
                      example: 5
                - type: object
                  properties:
                    orderId:
                      type: integer
                      example: 1
                    itemName:
                      type: string
                      example: copper
                    quantity:
                      type: number
                      example: 10
                    totalPrice:
                      type: number
                      example: 125
                    status:
                      type: string
                      example: completed
                    message:
                      type: string
                      example: Order fulfilled successfully
        '400':
          description: Invalid request or order already completed/cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid request or order already completed/cancelled
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Order not found
        '500':
          description: Error processing payment
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while processing payment
  "/collections":
    get:
      summary: Get all collections (items awaiting pickup)
      tags:
      - Market Orders
      responses:
        '200':
          description: List of all collections
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    quantity:
                      type: number
                      example: 10
                    amountCollected:
                      type: number
                      example: 5
                    id:
                      type: integer
                      example: 1
                    orderId:
                      type: integer
                      example: 1
                    itemName:
                      type: string
                      example: copper
                    itemId:
                      type: integer
                      example: 101
                    orderDate:
                      type: string
                      format: date-time
                      example: '2024-05-01T12:00:00Z'
                    collected:
                      type: boolean
                      example: false
                    collectionDate:
                      type: string
                      format: date-time
                      nullable: true
                      example: '2024-05-02T12:00:00Z'
        '400':
          description: Simulation not running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Simulation is not running. Please start a simulation
                      first using POST /simulations
        '500':
          description: Error retrieving collections
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while retrieving collections
  "/logistics":
    post:
      summary: Mark an item as collected (partial or full)
      tags:
      - Market Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - orderId
              - collectQuantity
              properties:
                orderId:
                  type: integer
                  example: 1
                collectQuantity:
                  type: number
                  example: 5
      responses:
        '200':
          description: Item collected successfully (partial or full)
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    example: 1
                  quantityRemaining:
                    type: number
                    example: 5
        '400':
          description: Invalid request, item already collected, or simulation not
            running
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid request, item already collected, or simulation
                      not running
        '404':
          description: Collection not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Collection not found
        '500':
          description: Error processing collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while processing collection
  "/recycled-phones":
    get:
      summary: Get all recycled (broken) phones grouped by model
      tags:
      - Recycling
      responses:
        '200':
          description: List of recycled phones grouped by model
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    modelId:
                      type: integer
                      example: 1
                    modelName:
                      type: string
                      example: ePhone
                    quantity:
                      type: integer
                      example: 5
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid request
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while retrieving recycled phones
  "/recycled-phones-collect":
    post:
      summary: Collect recycled phones by model name and quantity
      tags:
      - Recycling
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - modelName
              - quantity
              properties:
                modelName:
                  type: string
                  example: ePhone
                quantity:
                  type: integer
                  example: 3
      responses:
        '200':
          description: Number of phones collected and remaining
          content:
            application/json:
              schema:
                type: object
                properties:
                  collected:
                    type: integer
                    example: 3
                  remaining:
                    type: integer
                    example: 2
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid request
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while collecting recycled phones
  "/bank/initialization":
    get:
      summary: Get bank initialization data
      tags:
      - Banking
      responses:
        '200':
          description: Bank initialization data
          content:
            application/json:
              schema:
                type: object
                properties:
                  primeRate:
                    type: number
                    description: Prime interest rate as a percentage (4-16%)
                    example: 7.25
                  investmentValue:
                    type: number
                    description: Initial investment value (10B-100B)
                    example: 50000000000
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while retrieving bank initialization
                      data
  "/receive-phone":
    post:
      summary: Give a person their phone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - accountNumber
              - phoneName
              properties:
                accountNumber:
                  type: string
                  description: The account number of the person to give their phone
                    to
                  example: 123456789
                phoneName:
                  type: string
                  description: The name of the phone to give to the person
                  example: ePhone
                id:
                  type: string
                  description: The id of the phone to give to the person
                  example: 123456
                description:
                  type: string
                  description: The description of the phone to give to the person
                  example: A new phone
      responses:
        '201':
          description: Phone given
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid input accountNumber and phoneName must be strings
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An error occurred while giving phone to person
components: {}
tags: []
