openapi: 3.0.3
info:
  title: Simple Banking System API
  version: 1.0.0
  description: |
    Commercial bank API for managing accounts, transactions, and loans.

servers:
  - url: https://commercial-bank-api.projects.bbdgrad.com/api

components:
  schemas:
    Transaction:
      type: object
      properties:
        transaction_number:
          type: string
        from:
          type: string
        to:
          type: string
        amount:
          type: number
          format: float
        description:
          type: string
        status:
          type: string
        timestamp:
          type: number
          format: float
          description: Simulation time when the transaction occurred
    TransactionNotification:
      type: object
      properties:
        transaction_number:
          type: string
        status:
          type: string
        amount:
          type: number
        timestamp:
          type: number
          format: float
          description: Simulation time when the transaction occurred
        description:
          type: string
        to:
          type: string
        from:
          type: string
    Loan:
      type: object
      properties:
        loan_number:
          type: string
        initial_amount:
          type: number
        interest_rate:
          type: number
        started_at:
          type: number
          format: float
          description: Simulation time when the loan started
        write_off:
          type: boolean
        outstanding_amount:
          type: number
    LoanPayment:
      type: object
      properties:
        timestamp:
          type: number
          format: float
          description: Simulation time when the payment was made
        amount:
          type: number
        is_interest:
          type: boolean


paths:
  /account:
    post:
      tags: [Account]
      summary: Create a new account
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_number:
                    type: string

  /account/me:
    get:
      tags: [Account]
      summary: Get your account number
      responses:
        '200':
          description: Account number
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_number:
                    type: string

  /account/me/notify:
    post:
      tags: [Account]
      summary: Set/Update your notification URL
      description: |
        If set, when a payment is received in your account, a callback request will be sent to this URL to notify you that you've received a payment
        (See [**POST** `/transaction`](#/default/post_transaction) for more details)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_url:
                  type: string
      responses:
        '200':
          description: Notification URL updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /account/me/balance:
    get:
      tags: [Account]
      summary: Get your account balance
      responses:
        '200':
          description: Current balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number

  /account/me/frozen:
    get:
      tags: [Account]
      summary: Check if account is frozen
      responses:
        '200':
          description: Frozen status
          content:
            application/json:
              schema:
                type: object
                properties:
                  frozen:
                    type: boolean

  /account/me/loans:
    get:
      tags: [Account]
      summary: Get outstanding loans
      responses:
        '200':
          description: Outstanding loan info
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_due:
                    type: number
                  loans:
                    type: array
                    items:
                      type: object
                      properties:
                        loan_number:
                          type: string
                        due:
                          type: number

  /transaction:
    post:
      tags: [Transaction]
      summary: Create a transaction
      description: |
        If the transaction is successful and the recipient account has a registered `notification_url`,
        a `POST` request will be sent to that URL with the following payload:

        ### Payment Notification Payload:
        ```json
        {
          "transaction_number": "string",
          "status": "string",
          "amount": 123.45,
          "timestamp": 3.507, // simulation time
          "description": "string",
          "from": "sender_account_number",
          "to": "recipient_account_number"
        }
        ```

        The receiving server must respond with `200 OK` to acknowledge the notification.

        (See [**POST** `/account/me/notify`](#/default/post_account_me_notify) for setting your notification URL)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to_account_number:
                  type: string
                to_bank_name:
                  type: string
                  enum: ["commercial-bank", "retail-bank"]
                amount:
                  type: number
                description:
                  type: string
      responses:
        '200':
          description: Transaction result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transaction_number:
                    type: string
                  status:
                    type: string

    get:
      tags: [Transaction]
      summary: Get bank statement
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: number
            format: float
            description: Simulation time (start)
        - name: to
          in: query
          required: true
          schema:
            type: number
            format: float
            description: Simulation time (end)
        - name: only_successful
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'

  /transaction/{transaction_number}:
    get:
      tags: [Transaction]
      summary: Get transaction details
      parameters:
        - name: transaction_number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'

  /loan:
    post:
      tags: [Loan]
      summary: Take out a loan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
      responses:
        '200':
          description: Loan creation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  loan_number:
                    type: string
    get:
      tags: [Loan]
      summary: List all loans
      responses:
        '200':
          description: List of loans
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Loan'

  /loan/{loan_number}/pay:
    post:
      tags: [Loan]
      summary: Repay loan
      parameters:
        - name: loan_number
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
      responses:
        '200':
          description: Payment result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  paid:
                    type: number


  /loan/{loan_number}:
    get:
      tags: [Loan]
      summary: Get specific loan details
      parameters:
        - name: loan_number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Loan details
          content:
            application/json:
              schema:
                type: object
                properties:
                  loan_number:
                    type: string
                  initial_amount:
                    type: number
                  outstanding_amount:
                    type: number
                  interest_rate:
                    type: number
                  started_at:
                    type: number
                    format: float
                    description: Simulation time when the loan started
                  write_off:
                    type: boolean
                  payments:
                    type: array
                    items:
                      $ref: '#/components/schemas/LoanPayment'

  /interbank/transfer:
    post:
      tags: [Interbank]
      summary: Notify of incoming inter-bank transfer
      description: |
        Used by foreign banks to notify this system that a transfer has been initiated from one of their accounts to a local account.
        The request must be issued with a valid signed certificate to identify the bank of origin and must include sufficient details to record the transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction_number
                - from_account_number
                - from_bank_name
                - to_account_number
                - amount
                - description
              properties:
                transaction_number:
                  type: string
                  description: Unique transaction reference number from the sending bank.
                from_account_number:
                  type: string
                  description: Foreign sender's account number.
                to_account_number:
                  type: string
                  description: Local recipient account number.
                amount:
                  type: number
                  format: float
                  description: Amount being transferred.
                description:
                  type: string
                  description: Optional description for the transfer.
                timestamp:
                  type: number
                  format: float
                  description: Simulation time when the transfer was initiated
      responses:
        '200':
          description: Notification accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true

        '400':
          description: Validation or processing error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: unknown_recipient_account
        '409':
          description: Duplicate transaction number
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: transaction_number_already_exists

tags:
  - name: Account
    description: Endpoints for managing accounts
  - name: Transaction
    description: Endpoints for transactions and statements
  - name: Loan
    description: Endpoints for loans and repayments
  - name: Interbank
    description: Endpoints for interbank transfers