openapi: 3.0.3
info:
  title: Pear Phones API
  version: 1.0.0
  description: |
    Public endpoints used for communication to Pear Phones Company
servers:
  - url: https://pear-company-api.projects.bbdgrad.com/public-api
components:
  schemas:
    Order:
      type: object
      required:
        - items
      properties:
        accountNumber:
          type: string
        items:
          type: array
          items:
            type: object
            required:
               - phone_id
              - quantity
            properties:
              phone_id:
                 type: number
              quantity:
                 type: number
    
    OrderResponse:
      type: object
      required:
        - order_id
        - price
        - accountNumber
      properties:
        order_id:
          type: number
          description: Reference number to use for payment
        price:
          type: number
          format: float
          description: Total price of the order
        accountNumber:
          type: string
          example: "123456789012"
          description: Bank account number for phones
    
    Stock:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            required:
               - phone_id
              - name
              - quantity
              - price
            properties:
              phone_id:
                 type: number
              name:
                type: string
              quantity:
                 type: number
              price:
                type: number
                format: float
    
    PaymentNotification:
      type: object
      required:
        - reference
        - amount
      properties:
        reference:
          type: number
          description: Order id
        amount:
          type: number
          format: float
          description: Payment amount
    
    DeliveryConfirmation:
      type: object
      required:
        - delivery_reference
      properties:
        delivery_reference:
          type: number
          description: Delivery reference number
    
    MachineFailure:
      type: object
      required:
        - machineName
        - failureQuantity
        - simulationDate
        - simulationTime
      properties:
        machineName:
          type: string
          description: Name of the phone model whose machines failed (matches phones.name)
        failureQuantity:
          type: integer
          minimum: 0
          description: Number of machines to retire
        simulationDate:
          type: string
          format: date
          description: Date of the failure event (YYYY-MM-DD)
        simulationTime:
          type: string
          pattern: '^\\d{2}:\\d{2}:\\d{2}$'
          description: Time of the failure event (HH:MM:SS)
    
    SimulationResponse:
      type: object
      required:
        - message
        - status
      properties:
        message:
          type: string
          description: Response message
        tick:
          type: number
          description: Current simulation tick/day
        status:
          type: string
          enum: [running, stopped]
          description: Current simulation status
    
    SuccessResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Success message
    
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Error type
        message:
          type: string
          description: Detailed error message

paths:
  /simulation/start:
    post:
      summary: Start a new simulation
      responses:
        '200':
          description: Simulation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationResponse'
        '500':
          description: Failed to start simulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /simulation/tick:
    post:
      summary: Progress simulation by one tick
      responses:
        '200':
          description: Simulation tick processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationResponse'
        '400':
          description: Simulation tick failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            
  /stock:
    get:
      summary: Get current phone stock
      responses:
        '200':
          description: List of phones with stock availability and price per phone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stock'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                        
  /order:
    post:
      summary: Make an order for phones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: Order placed successfully. Items reserved for 24 hours awaiting payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Invalid order data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /payment-made:
    post:
      summary: Notify that payment has been made to Pear phones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentNotification'
      responses:
        '200':
          description: Payment accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid payment data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /goods-delivered:
    post:
      summary: Confirm delivery of bulk goods to Pear phones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryConfirmation'
      responses:
        '200':
          description: Bulk delivery recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid delivery data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /goods-collection:
    post:
      summary: Confirm consumer goods have been collected from Pear phones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryConfirmation'
      responses:
        '200':
          description: Consumer delivery recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid delivery data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /failure/machines:
    post:
      summary: Report machine failure events to Pear phones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineFailure'
      responses:
        '200':
          description: Machine failure recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid machine failure data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
